body {
	background-color: #FFF6C2;
}
h1 {
	font-family: 'Lemon', Helvetica;
	color: #3e2c28;
	position: relative;
}
h2 {
	color: #3e2c28;
}
p {
	font-family: 'Bubbler One', Helvetica;
	font-size: 20px;
	color: #3e2c28;
}
a {
	color: #3e2c28;
}
#ps {
	text-align: center;
	padding: 5px;
	background-color: #FF9666;
}
label {
	font-family: 'Bubbler One', Helvetica;
	font-size: 20px;
	color: #3e2c28;
}
@media (max-width: 600px) {
	#main-about {
		display: flex;
		flex-direction: column;
	}
	#main-about h1 {
		text-align: center;
	}
}




/*Nav Bar*/
#logo {
	width: 150px;
	border-radius: 50%;
	margin: 0px;
	margin-top: 15px;
}
#nav-bar {
	background-color: #3e2c28;
	height: 40px;
	width: 100%;
	margin-top: 60px;
	margin-bottom: 15px;
	line-height: 40px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	z-index: 1;
}
.nav-link {
	font-size: 20px;
	color: white;
	font-family: 'Bubbler One';
	text-decoration: none;
	height: 40px;
}
.nav-link:hover {
	background-image: radial-gradient(#A67F77 5%,#3e2c28 70%);
	height: 40px;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	background-color: #3e2c28;
	text-align: center;
	border-radius: 0px 0px 5px 5px;
	position: absolute;
	margin-left: -50px;
	z-index: 1;
}
.dropdown-content a {
	font-size: 18px;
	color: white;
	font-family: 'Bubbler One', Helvetica;
	text-decoration: none;
	display: block;
	padding: 5px 25px;
}
.dropdown:hover .dropdown-content {
	display: block;
	padding: 10px;
}
@media (max-width: 400px) {
	#logo {
		width: 80px;
		border-radius: 50%;
		margin: 0px;
		margin-top: 15px;
		z-index: 1;
	}
	.nav-link {
		font-size: 15px;
	}
	.dropdown-content {
		z-index: 2;
	}
	.dropdown-content a {
		font-size: 15px;
	}
	#nav-bar {
		margin-top: 25px;
	}
}




/*Home Page*/
#main-home {
	padding-top: 0px;
	margin-top: -10px;
	background-color: rgba(255,252,235,.75);
}
#main-pic {
	position: relative;
	width: 100%;
	height: 83vh;
	object-fit: cover;
	opacity: .7;
}
#main-pic::before {
	background-color: #fffceb;
	opacity: 1;
}
#bottom-right {
	position: absolute;
	bottom: 28px;
	right: 36px;
	font-size: 28pt;
	text-align: right;
}
#bottom-right p {
	font-size: 20pt;
}
hr {
	border: none;
	border-top: 7px dotted #ff9666;
	width: 70%;
	align: center;
	margin-top: 30px;
	position: relative;
	z-index: 1;
	height: 0px;
}
#grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.picture {
	border-color: #FFEB8C;
	border-width: .5px;
	border-style: solid;
	padding: 5px;
	background-color: white;
	width: 30%;
	height: 300px;
	object-fit: cover;
	margin: 7px;
}
@media (max-width: 800px) {
	.picture {
		width: 45%;
	}
}
@media (max-width: 600px) {
	.picture {
		height: 150px;
		width: 40%;
	}
}
@media (max-width: 400px) {
	#main-pic {
		height: 70vh;
	}
	#bottom-right {
		position: absolute;
		bottom: 100px;
		right: 30px;
	}
	#bottom-right p{
		position: absolute;
		bottom: -15px;
		right: 0;
	}
}




/*About Page*/
#main-about {
	padding-top: 0px;
	margin-top: -10px;
	background-color: rgba(255,252,235,.75);
	padding-bottom: 100px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 35px;
}
#prof-pic {
	border-color: #FFEB8C;
	border-width: .5px;
	border-style: solid;
	width: 30%;
	min-width: 250px;
	max-width: 280px;
	float: left;
	margin: 10px;
	margin-top: 20px;
}
#bio {
	padding-top: 45px;
}
@media (max-width: 600px) {
	#prof-pic {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 80px;
	}
	#bio {
		margin-top: 0px;
	}
}


/*Menus*/
#main-cookie-menu {
	padding-top: 30px;
	margin-top: -10px;
	background-color: rgba(255,252,235,.45);
	position: relative;
	z-index: -1;
}
#main-cookie-menu::before {
	content: "";
	background-image: url("cookies.jpg");
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: .2;
}
#main-cheesecake-menu {
	padding-top: 30px;
	margin-top: -10px;
	background-color: rgba(255,252,235,.45);
	position: relative;
	z-index: -1;
}
#main-cheesecake-menu::before {
	content: "";
	background-image: url("cheesecake.jpg");
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: .2;
}
#main-cupcake-menu {
	padding-top: 30px;
	margin-top: -10px;
	background-color: rgba(255,252,235,.45);
	position: relative;
	z-index: -1;
}
#main-cupcake-menu::before {
	content: "";
	background-image: url("#");
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: .2;
}
#main-macaron-menu {
	padding-top: 30px;
	margin-top: -10px;
	background-color: rgba(255,252,235,.45);
	position: relative;
	z-index: -1;
}
#main-macaron-menu::before {
	content: "";
	background-image: url("macaron.jpg");
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: .2;
}
#main-pastry-menu {
	padding-top: 30px;
	margin-top: -10px;
	background-color: rgba(255,252,235,.45);
	position: relative;
	z-index: -1;
}
#main-pastry-menu::before {
	content: "";
	background-image: url("pic9.jpg");
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: .2;
}
#heading {
	text-align: center;
}
.menu {
	display: flex;
	flex-direction: row;
	text-align: center;
	position: relative;
	z-index: 2;
}
h3 {
	font-family: 'Lemon';
	font-size: 25px;
	color: #251a18;
}
#classics {
	width: 50%;
}
#specialties {
	width: 50%;
}
@media (max-width: 400px) {
	h1 {
		font-size: 25px;
	}
	h3 {
		font-size: 20px;
	}
}




#main-order {
	padding-top: 30px;
	padding-left: 15px;
	margin-top: -10px;
	background-color: rgba(255,252,235,.45);
	position: relative;
	z-index: -1;
	
}
#main-order::before {
	content: "";
	background-image: url("order.jpg");
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: .2;
}
iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 1;
	max-width: 100%;
}